In [5]:
import json

In [6]:
data = []
with open('prepared-ayat-aktif-ayat-pasif.jsonl') as fopen:
    for l in fopen:
        l = json.loads(l)
        data.append(l)
len(data)

3028

In [7]:
import pandas as pd

df = pd.DataFrame(data)
df.head()

,prompt_input,input,output
0,None,tukar ayat aktif ke ayat pasif: Encik Razak me...,Pelajar-pelajar diajar tentang kepentingan men...
1,None,tukar ayat pasif ke ayat aktif: Pelajar-pelaja...,Encik Razak mengajar pelajar-pelajar tentang k...
2,None,tukar ayat aktif ke ayat pasif: Ibu memasak na...,Nasi lemak dimasak oleh ibu untuk sarapan pagi.
3,None,tukar ayat pasif ke ayat aktif: Nasi lemak dim...,Ibu memasak nasi lemak untuk sarapan pagi.
4,None,tukar ayat aktif ke ayat pasif: Doktor Wong me...,Pesakit yang mengalami demam denggi dirawat ol...

In [9]:
df.to_parquet('prepared-ayat-aktif-pasif.parquet')

In [ ]:
from huggingface_hub import HfApi
api = HfApi()

api.upload_file(
    path_or_fileobj="prepared-ayat-aktif-pasif.parquet",
    path_in_repo='data/ayat_aktif_pasif-00000-of-00001.parquet',
    repo_id="mesolitica/Malaysian-SFT",
    repo_type="dataset",
)

prepared-ayat-aktif-pasif.parquet:   0%|          | 0.00/171k [00:00<?, ?B/s]